<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet - Vivemike</title>
    <link rel="stylesheet" href="static/css/style.css">
    <script src="static/js/script.js" defer></script>

</head>
<body>
    <h1>Projet</h1>

    <h1>Données reçues</h1>

    <ul id="robot-stats">
        <li><strong>Capteur de ligne noire :</strong> <span id="line_value">...</span></li>
        <li><strong>Capteur de distance :</strong> <span id="distance_value">...</span></li>
        <li><strong>Vitesse :</strong> <span id="speed_value">...</span> m/s</li>
        <li><strong>Pince :</strong> <span id="gripper_value">...</span></li>
    </ul>

    <strong>Commandes :</strong> <span id="commandesList">...</span>


    <form id="macForm" onsubmit="initializeRobot(event)">
        <label for="macAddress">Adresse MAC du robot :</label>
        <input type="text" id="macAddress" name="macAddress" maxlength="17" required>
        <button type="submit">Ajouter Robot</button>
    </form>

    <form id="commandeForm" onsubmit="initializeCommande(event)">
        <label for="commande">Commande du robot :</label>
        <input type="text" id="commande" name="commande" required>
        <button type="submit">Enregistrer</button>
    </form>


    <strong>Liste des robots :</strong> <span id="robotsList">...</span>

    <button onclick="alert('Fonctionnalité à venir !')">Fonctionnalité à venir</button>

    <footer>
        <p>&copy; 2027 Vivemike</p>
        <p>Contactez-nous à <a href="mailto:contact@votreoscar.com">contact@votreOscar.com</a></p>
    </footer>
</body>
</html>

